@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?zgk0bv');
  src:  url('./fonts/icomoon.eot?zgk0bv#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?zgk0bv') format('truetype'),
    url('./fonts/icomoon.woff?zgk0bv') format('woff'),
    url('./fonts/icomoon.svg?zgk0bv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user-add-outline:before {
  content: "\e96c";
}
.icon-user-add:before {
  content: "\e96d";
}
.icon-more-horizontal:before {
  content: "\e958";
}
.icon-group_add:before {
  content: "\e96b";
}
.icon-flight_takeoff:before {
  content: "\e959";
}
.icon-local_hospital:before {
  content: "\e950";
}
.icon-map-pin2:before {
  content: "\e951";
}
.icon-arrow_right_samll:before {
  content: "\e901";
}
.icon-chat:before {
  content: "\e969";
}
.icon-notice:before {
  content: "\e965";
}
.icon-heart3:before {
  content: "\e960";
}
.icon-pacman:before {
  content: "\e95a";
}
.icon-game:before {
  content: "\e95a";
}
.icon-book:before {
  content: "\e952";
}
.icon-book2:before {
  content: "\e953";
}
.icon-pen:before {
  content: "\e954";
}
.icon-tools:before {
  content: "\e955";
}
.icon-map-location:before {
  content: "\e956";
}
.icon-exclamation:before {
  content: "\e966";
}
.icon-heart:before {
  content: "\e95e";
}
.icon-cool:before {
  content: "\e9eb";
}
.icon-office:before {
  content: "\e95b";
}
.icon-coin-yen:before {
  content: "\e95c";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-checkbox:before {
  content: "\ea52";
}
.icon-camera:before {
  content: "\e96e";
}
.icon-chat-bubble-dots:before {
  content: "\e967";
}
.icon-exclamation-solid:before {
  content: "\e963";
}
.icon-exclamation-outline:before {
  content: "\e964";
}
.icon-camera2:before {
  content: "\e96f";
}
.icon-user-plus:before {
  content: "\e96a";
}
.icon-wechat:before {
  content: "\e968";
}
.icon-drivers-license-o:before {
  content: "\e962";
}
.icon-id-card-o:before {
  content: "\e962";
}
.icon-image_default:before {
  content: "\e961";
}
.icon-heart2:before {
  content: "\e95f";
}
.icon-user:before {
  content: "\e957";
}
.icon-global-im:before {
  content: "\e95d";
  color: #5c5d5d;
}
.icon-header_back:before {
  content: "\e900";
}
.icon-more-handle:before {
  content: "\e94d";
}
.icon-icon-handle02:before {
  content: "\e94c";
}
.icon-king-download:before {
  content: "\e94b";
  color: #5d5d5d;
}
.icon-icon-announce:before {
  content: "\e94a";
}
.icon-dengji:before {
  content: "\e947";
}
.icon-add:before {
  content: "\e948";
}
.icon-down_arrow:before {
  content: "\e949";
}
.icon-delete_arrow:before {
  content: "\e946";
}
.icon-share_dark:before {
  content: "\e92f";
}
.icon-Document_2_cha6:before {
  content: "\e930";
}
.icon-Document_2_daidengji:before {
  content: "\e931";
}
.icon-Document_2_dengji:before {
  content: "\e932";
}
.icon-search_border:before {
  content: "\e933";
}
.icon-editor:before {
  content: "\e934";
}
.icon-Document_2_fawenguanli:before {
  content: "\e935";
}
.icon-Document_2_guidang:before {
  content: "\e936";
}
.icon-row:before {
  content: "\e937";
}
.icon-Document_2_qianshou:before {
  content: "\e938";
}
.icon-Document_2_qianshouwenjian:before {
  content: "\e939";
}
.icon-Document_2_shouhui:before {
  content: "\e93a";
}
.icon-Document_2_shouwenchaxun:before {
  content: "\e93b";
}
.icon-Document_2_shouwendengji:before {
  content: "\e93c";
}
.icon-Document_2_shouwenguanli:before {
  content: "\e93d";
}
.icon-Document_2_taohong:before {
  content: "\e93e";
}
.icon-Document_2_tuihui:before {
  content: "\e93f";
}
.icon-Document_2_wenhao:before {
  content: "\e940";
}
.icon-wodefawen:before {
  content: "\e941";
}
.icon-Document_2_wodeshouwen:before {
  content: "\e942";
}
.icon-yifasong:before {
  content: "\e943";
}
.icon-Document_2_yinzhang:before {
  content: "\e944";
}
.icon-Document_2_zhengwenmuban:before {
  content: "\e945";
}
.icon-icon-delete:before {
  content: "\e92e";
  color: #999;
}
.icon-Document_icon_send:before {
  content: "\e929";
  color: #ccc;
}
.icon-Document-icon-item:before {
  content: "\e928";
}
.icon-Document_bianji:before {
  content: "\e92a";
}
.icon-Document_bofan:before {
  content: "\e92b";
}
.icon-Document_qianzhang:before {
  content: "\e92c";
}
.icon-Document_tingzhi:before {
  content: "\e92d";
}
.icon-Document_1hang2lie:before {
  content: "\e902";
}
.icon-Document_1hang3lie:before {
  content: "\e903";
}
.icon-Document_add:before {
  content: "\e904";
}
.icon-Document_biaogebuju:before {
  content: "\e905";
}
.icon-Document_cha:before {
  content: "\e906";
}
.icon-Document_chehui:before {
  content: "\e907";
}
.icon-Document_cuiban:before {
  content: "\e908";
}
.icon-Document_cuiban3:before {
  content: "\e909";
  color: #5c5d5d;
}
.icon-Document_daochu:before {
  content: "\e90a";
}
.icon-Document_date:before {
  content: "\e913";
}
.icon-Document_down:before {
  content: "\e912";
}
.icon-Document_fawenchax:before {
  content: "\e90b";
}
.icon-Document_fawenchaxun:before {
  content: "\e90c";
}
.icon-Document_fawenguanli:before {
  content: "\e90d";
}
.icon-Document_fenfa2:before {
  content: "\e90e";
  color: #5c5d5d;
}
.icon-Document_fengexian:before {
  content: "\e90f";
}
.icon-Document_gongwen:before {
  content: "\e910";
}
.icon-Document_im:before {
  content: "\e911";
  color: #5c5d5d;
}
.icon-Document_leibie:before {
  content: "\e914";
}
.icon-Document_leixingshezhi:before {
  content: "\e915";
}
.icon-Document_mxizibiao:before {
  content: "\e916";
}
.icon-Document_nigao:before {
  content: "\e917";
}
.icon-Document_reject:before {
  content: "\e918";
  color: #5c5d5d;
}
.icon-Document_serch:before {
  content: "\e919";
}
.icon-Document_shanc:before {
  content: "\e91a";
}
.icon-Document_taohong:before {
  content: "\e91b";
}
.icon-Document_tianjia:before {
  content: "\e91c";
}
.icon-Document_tishi:before {
  content: "\e91d";
}
.icon-Document_up:before {
  content: "\e94e";
}
.icon-Document_wendan-13:before {
  content: "\e927";
}
.icon-Document_wendan-28:before {
  content: "\e91e";
}
.icon-Document_wenhao:before {
  content: "\e91f";
}
.icon-Document_wodefawen:before {
  content: "\e920";
}
.icon-Document_xiala:before {
  content: "\e921";
}
.icon-Document_xiugai:before {
  content: "\e922";
}
.icon-Document_ydong:before {
  content: "\e923";
}
.icon-Document_yinzhang:before {
  content: "\e924";
}
.icon-Document_you:before {
  content: "\e925";
}
.icon-Document_yulan:before {
  content: "\e926";
}
.icon-Document_zhengwenmuban:before {
  content: "\e94f";
}
