/**
 * minit-ui 组件css默认样式更改
 *
 */
.mint-toast-text{
    line-height: 18px!important;
}
.mint-msgbox-content{
    min-height: 24px!important;
}
.mint-msgbox-content{
    padding: 20px .4rem!important;
}
.mint-msgbox{
	width: 70%!important;
}
.mint-msgbox-message{
    line-height: 24px!important;
}
/* 日期组件样式更改*/
 .mint-datetime .picker-slot{
	 font-size: 14px;
 }
.mint-datetime .mint-datetime-cancel{
	 text-align: left;
	 width: auto;
	 margin-left: .2rem;
	 color: #666;
 }
.mint-datetime .mint-datetime-confirm{
	 text-align: right;
	  width: auto;
	 margin-right: .2rem;
 }

 input::-webkit-input-placeholder {
       color: #9b9b9b;
       font-size: 14px;
 }

/**
 * 1.列表页无数据样式
 * 2.loading定位
 */
.yy_nodata_class{
	text-align: center;
	color: #999;
	font-size: 13px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
}
.yy_nodata_class .yy_icon_img{
	position: absolute;
	width: 80px;height: 80px;margin:auto;
	top: 35%;
	left: 0;
	right: 0;
}
.yy_nodata_class .yy_icon_img img{
	width: 100%;
	height: 100%;
}
.yy_nodata_class .yy_nodata_text{
	width: 80px;
	margin-top: 10px;
	display: inline-block;
	max-height: 200px;
	overflow: hidden;
	overflow-y: auto;
}
.defindloadig{
   position: fixed;
   z-index: 11;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
}

/**
 * 表单状态样式
 *
 */
.status_1{
	color:#238204;
}
.status_2{
	color:#847405;
}
.status_0{
	color:red;
}
.status_6{
	color:#666;
}
.status_4{
	color:#238204;
}
.status_5{
	color:#847405;
}
.status_3{
	color:#e407f3;
}

.defindloading{
    position: fixed;
    z-index: 11;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.show_all_data{
    font-size: 12px;
    color: #888;
    padding: 6px 0;
}
input:disabled{
    border: 1px solid #eee!important;
    color:#333!important;
    opacity: 1!important;
}
input[disabled]{
    border: 1px solid #eee!important;
    color:#333!important;
    opacity: 1!important;
}
* html input.disabled{
    border: 1px solid #eee!important;
	color:#333!important;
    opacity: 1!important;
}
.reward_input input:disabled{
    border: none!important;
    opacity: 1!important;
}
.reward_input input[disabled]{
     border: none!important;
     opacity: 1!important;
}

.gl_title_color{
    color: #888;
}

.gl_identify{
    position: absolute;
    right: 0rem;
    top: 0;
    border-radius: 50%;
    overflow: hidden;
    font-size: 16px;
    /*font-size: 18px;
    font-weight: bolder;
    font-family: monospace;
    width: .4rem;
    height: 0.4rem;
    display: inline-block;
    border-radius: 50%;
    text-align: center;*/
}

.gl_vGold{
    color: #ffd900;
    background: #e3f9f6;
}
.gl_vCopper{
    color: #ee9b6b;
    background: #e3f9f6;
}
.gl_vSilver{
    color: #e6e8eb;
    background: #e3f9f6;
}
