
.header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 11;
    height: 33px;
}
.myAssist{
    margin-top: 5px;
    font-size: 14px;
}
.repeat_assist{
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(241, 241, 241, 1);
    border-bottom: 1px solid rgba(241, 241, 241, 1);
    margin-bottom: 16px;
}
.top {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid rgba(241, 241, 241, 1);
}
.top .top_left{
    float: left;
    margin-left: .35rem;
}
.top .top_right{
    float: right;
    margin-right: .35rem;
}
.middle{
    /*height: 146px;*/
    padding: 12px .4rem;
    display: flex;
    /*border-bottom: 1px solid rgba(241, 241, 241, 1);*/
}

.middle .middle_left{
    width: 3.74rem;
    text-align: left;
    overflow: hidden;
}
.middle_left p{
    line-height: 20px;
}
.middle_left .middle_from{
    /*margin-top: 26px;*/
}
.middle_decription{
    height: 100px;
    overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
    -webkit-box-orient: vertical;
        -webkit-line-clamp: 10;
}
.middle_right{
    width: 2.8rem;
    height: 2.8rem;
    margin-left: .18rem;
}
.middle_right img{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.bottom{
    line-height: 45px;
    display: flex;
    height: 45px;
    overflow: hidden;
}
.bottom .bottom_right {
    flex: 1
}
.bottom .bottom_left {
    flex: 2
}
.bottom .bottom_left{
     text-align: left;
     margin-left: 0.35rem;
}
.bottom_left img{
    width: .64rem;
    height: .64rem;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
}
.bottom_left span{
    display: inline-block;
}
.bottom .bottom_right{
     text-align: right;
     margin-right: 0.35rem;
}


.action_list{
    display: flex;
    width: 100%;
    /*height: 32px;*/
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(241, 241, 241, 1);
}
.action_list>div{
    flex: 1
}
.action_list>div span{
    width: 70%;
    display: inline-block;
    height: 32px;
    border: 1px solid #eee;
    line-height: 32px;
    border-radius: 6px;
}

.action_list_help{
    display: flex;
    width: 100%;
    /*height: 32px;*/
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(241, 241, 241, 1);
}
.action_list_help .go_help{
    flex: 3
}

.action_list_help .go_help span{
    width: 30%;
    display: inline-block;
    height: 32px;
    border: 1px solid #eee;
    line-height: 32px;
    border-radius: 6px;
    margin-left: 60%;
    color: #fff;
    background: #007aff;
}

.yy_nodata_class{
    text-align: center;
    color: #999;
    font-size: 13px;
    position: fixed;
    top: 46px;
    left: 0;
    right: 0;
    bottom: 46px;
    background: #fff;
    .yy_icon_img{
        position: absolute;
        width: 80px;height: 80px;margin:auto;
        top: 35%;
        left: 0;
        right: 0;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .yy_nodata_text{
        width: 80px;
        margin-top: 10px;
        display: inline-block;
        max-height: 200px;
        overflow: hidden;
        overflow-y: auto;
    }
}
