h1{
	font-size: 18px;
	height: 54px;
	line-height: 54px;
}
form p{
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	color: #9B9B9B;
	margin-top: 12px;
}
form {
	padding: 10px;
}
form label{
	margin-right: .2rem;
	color: #333!important;
}
form p input{
	font-size: 14px;
	height: 76%;
	padding: 0 4px;
	color: #ff4a5a
}
.signin input{
	width: 60%;
	height: 100%!important;
	color: #fff!important;
	background: #ff4a5a;
	outline: none;
	border: none;
	font-size: 16px!important
}
input {
	outline: none;
	-webkit-appearance: none;
	border-radius: 0;
	border: none
}
input:focus{ outline:none; }
